                    # Default ignored files
.idea/
*.iml
*.ipr
*.iws
/shelf/
/.idea
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
 target/

# .gitignore
legy-application/src/main/resources/firebase/firebase-adminsdk.json
legy-application/src/main/resources/application.properties

 # Build outputs
 *.jar
 *.war
 *.ear
/*/target
*~